* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Helvetica Neue, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to left, #B24592 , #F15F79);
}

@media screen and (max-width: 500px) {
  body {
    height: auto;
    min-height: 100vh;
    background: none;
  }
}

@keyframes fadein {
  from { 
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  
  to   { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 620px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
  animation: fadein 1s;
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: scroll;
    box-shadow: none;
    animation: none;
  }
}

  .wrapper__inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

@media screen and (max-width: 500px) {
  .notepad {
    padding: 15px;
  }
}

  .notepad__heading {
    width: 100%;
    padding: 60px 40px 15px;
    border-bottom: 1px solid #f5f4f4;
    color: #5f5f5f;
    font-weight: 400;
  }

  .notepad__form-input {
    border: 0;
    width: 100%;
    line-height: 1.3;
    margin: 0;
    font-size: 19px;
    color: #5f5f5f;
    padding: 30px 40px;
    background-color: transparent;
    transition: background-color 300ms ease;

    @media screen and (max-width: 500px) { 
      .notepad__form-input {
        height: auto;
      }
    }
  }

  .notepad__form-input:focus {
    outline: 0;
    background-color: #f5f5f5;
  }

  .notepad__list {
    height: 365px;
    overflow: scroll;
  }

  @media screen and (max-width: 500px) {
    .notepad__list {
      height: auto;
    }
  }

  .notepad__list-item {
    width: 100%;
    padding: 30px 40px;
    border: 0;
    border-bottom: 1px solid #f5f4f4;
    line-height: 1.3;
    font-size: 19px;
    list-style-type: none;
    color: #5f5f5f;
    background-color: transparent;
  }

  .notepad__list-item:first-of-type {
    border-top: 1px solid #f5f4f4;
  }

  .notepad__clear {
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    padding: 20px;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-family: Helvetica Neue, sans-serif;
    letter-spacing: 2px;
    transition:
      color 300ms ease,
      background-color 300ms ease;
  }

  .notepad__clear:focus {
    outline: 0;
  }

  .notepad__clear:hover {
    color: #fff;
    background-color: #ea3860;
  }

  .notepad__clear--display {
    display: block;
  }

  @media screen and (max-width: 500px) {
    .notepad__clear {
      position: static;
    }
  }

  .info,
  .twitter {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 15px 12px 15px;
    transition:
      background-color 300ms ease;
  }

  @media screen and (max-width: 500px) {
    .info,
    .twitter {
      position: absolute;
      z-index: 2;
    }
  }

  @media screen and (max-width: 500px) {
   .info {
    right: 40px;
   } 
  }

  .twitter {
    top: 45px;
  }

  @media screen and (max-width: 500px) {
   .twitter {
    top: 0;
   } 
  }

  .info svg,
  .twitter svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    transition:
      fill 300ms ease;
  }

  @media screen and (max-width: 500px) {
   .info svg,
   .twitter svg {
    width: 20px;
    fill: #333;
   } 
  }

  .info:hover svg,
  .twitter:hover svg {
    fill: #333;
  }
